/* reset css */
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/* body styles */
body {
    background: black;
    color: #00ffcc;
    font-family: monospace;
    text-align: center;
    width:90%;
    margin: 0 auto;
}
/* search button */
button {
    margin: 10px;
    padding: 10px;
    background: black;
    border: 2px solid #00ffcc;
    border-radius: 5px;;
    color: #00ffcc;
    cursor: pointer;
}

button:hover {
    background: #00ffcc;
    color: black;
}

.glow {
    text-shadow: 0 0 10px #00ffcc;
}


/* header styles */
.banner {
    background: black ;
    width: 100%;
    height: 300px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}
.banner-image{
    height: 300px;
    background-size: cover;
    background-position: center;
}

/* nav styles */
nav {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}
.custom-navbar {
    
    background-color: black;
    border-top: 2px solid #00ffcc;
    border-bottom: 2px solid #00ffcc;
    color:#00ffcc;
}
.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
    color: #00ffcc;
}
.custom-navbar .nav-link:hover {
    color: black;
    background-color: #00ffcc;
}
.nav-link.active{
    background-color: #00ffcc;
    color: black;
}
.navbar-toggler-icon {
    background-color: #00ffcc;
    border-radius: 5px;
}
/* card styles */
#sortSelect{
    margin: 10px auto;
    background-color: black;
    color:#00ffcc;
    border: 2px solid #00ffcc;
}
.grid-container{
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 100%;
}
#card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 20px;
    
}
.cardDiv {
    display: flex;
    flex-direction: column;
    background: grey;
    width: auto;
    height: 350px;
    padding: 20px;
    margin: 10px auto;
    border-radius: 5px;
    border: 2px solid black;
    box-shadow: 0 0 10px;
}

.cardDiv h3 {
    text-align: center;
    font-size: 1em;
    color: black;
    text-shadow: 1px 1px 2px black;
}
.digi-image {
    width: 200px;
    height: 200px;
    margin: 0px auto;
    border: 1px solid darkGreen;
    box-shadow: 0px 0px 10px white;
}
.cardDiv p {
    text-align:center;
    margin-top: 3em;
}
#load-more-button{
    width:120px;
    background-color: black;
    border-radius: 5px;
}
#load-more-button:hover{
    background: #00ffcc;
    color: black;
}

/* digivice */
#digivice-div{
    padding-top:100px;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    width: 600px;
    height:auto;
    border:1px solid black;
    position: relative;
}
#digivice-img{
    margin: 0;
    padding: 0;
}
#digivice-screen{
    position: absolute;
    transform: translate(165px, 132px)
               skewX(-9deg)
               skewY(-5deg)
               perspective(300px)
               rotateY(-10deg)
               rotateX(-5deg);
    transform-origin: center;
    width: 145px;
    height:145px;
    border-radius: 15px;
}
#digi-detail-image{
    width: 144px;
    height: 144px;
    opacity: .9;
    border-radius: 10px;
}
#back-button{
    position: absolute;
    transform: translate(35px, 175px)
               skewX(-9deg)
               skewY(-5deg)
               perspective(300px)
               rotateY(-10deg)
               rotateX(-5deg);
    transform-origin: center;
    width:90px;
    height: 93px;
    border-radius: 50px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#next-button{
    position:absolute;
    transform: translate(390px, 102px) rotateY(-25deg) skewX(-8deg);
    width: 105px;
    height: 63px;
    border-radius: 50%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#prev-button{
    position:absolute;
    transform: translate(367px, 210px) rotateY(-25deg) skewX(-8deg);
    width: 113px;
    height: 67px;
    border-radius: 50%;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: black;
    color:#00ffcc;
    border: 1px solid #00ffcc;
    margin: 20px;
    padding: 10px;
}